.projectContainer {
  display: inline-block;
  margin: 2rem;
}

.projectBox {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 40vw;
}

.projectImageBox {
  margin: auto;
}

.projectImage {
  max-height: 40vh;

  border-radius: 20px;
  box-shadow: -4px 4px 0px 0px var(--purple);
  transition: 0.5s ease;
}

.projectImage:hover {
  transform: scale(110%);
  box-shadow: 0px 4px 0px 0px var(--purple);
}

.projectTextBox {
  text-align: center;
  font-weight: normal;
}

.projectBoxButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: var(--white);
}

.projectBoxButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

.projectBoxButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

@media screen and (max-width: 880px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
  }

  .projectImage {
    margin: auto;
    max-height: 35vh;
    max-width: 60vw;
    border-radius: 15px;
  }

  .projectBox {
    width: 60vw;
  }
}
