.listBox {
  margin: auto;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

/* .listColumn {
  width: 30vw;
} */

.listImage {
  margin: auto;
  margin-top: 0.5rem;
  max-width: 30vw;
  border-radius: 7px;
}

.listList {
  list-style: none;
}

.listItem {
  font-weight: bold;
  margin: 0.7em;
}

@media screen and (max-width: 560px) {
  .listBox {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}
