.listBox {
  margin: auto;
  margin-bottom: 6rem;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
}

/* .listColumn {
  width: 30vw;
} */

.listImage {
  margin-top: 2rem;
  max-width: 30vw;
}

.listList {
  list-style: none;
}

.listItem {
  margin: 0.6em;
}
