.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("https://i.ibb.co/ZBdPjZy/DSC-1238.jpg");

  height: 80vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

/* Place text in the middle of the image */
.heroText {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 2px 3px 0px black;
  width: 36vw;
}

.heroButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: var(--white);
}

.heroButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

.heroButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

.textBox {
  margin: auto;
  max-width: 70vw;
  text-align: left;
  line-height: 1.5em;
  user-select: text;
}

.textBox p:hover {
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
}

.memoryImage {
  margin: auto;
  width: 50vw;
  height: auto;
  box-shadow: -4px 4px 0px 0px var(--purple);
  border-radius: 5px;
}

.finalMemoryImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  margin-top: 0.5rem;
}

.memoryImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.title {
  text-align: center;
  line-height: 1.8em;
}

.blogLink {
  text-align: center;
  line-height: 1.8em;
  cursor: pointer;
  background-color: var(--panel-mid-shade);
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  width: fit-content;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.5s ease;
  user-select: none;
}

.link {
  text-decoration: underline;
  color: var(--purple);
}

.link:hover {
  color: cornflowerblue;
}

/* 
.blogLink:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
} */
.textBoxButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 26px;
  text-decoration: none;
  display: flex;
  margin: auto;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: var(--white);
  align-items: center;
}

.textBoxButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
}

.textBoxButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

@media screen and (max-width: 780px) {
  .textBox {
    max-width: 82vw;
    line-height: 2rem;
  }
}
