.bookContainer {
  margin: auto;
}

.bookBox {
  margin-top: 6rem;
}

.bookPage {
  max-height: 80vh;
  max-width: 80vw;
  border-radius: 12px;
  box-shadow: -2px 2px 4px 2px var(--purple);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.buttonBox {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  border-radius: 2px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.nextButton {
  margin-left: 2rem;
}

.logo {
  height: 25px;
  margin-left: 8px;
}

#pageButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 8px 15px 10px;
  background-color: rgb(235, 230, 247);
}

#pageButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

#pageButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

.redirectButtonBox {
  position: relative;
}
.redirectButton {
  position: absolute;
  left: 10%;
  top: 14%;
  min-width: max-content;
  padding: 7px 13px 9px;
}

@media screen and (max-width: 780px) {
  .bookBox {
    margin-top: 6rem;
  }

  .bookPage {
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 12px;
    box-shadow: -2px 2px 4px 2px var(--purple);
  }
}
