.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoResponsive iframe {
  margin-top: 5.5rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 780px) {
  .videoResponsive iframe {
    left: 3%;
    margin-top: 3.5rem;
    width: 95%;
    margin: auto;
  }
}
