.newCommentContainer {
  background-color: rgb(235, 230, 247);
  box-shadow: -5px 5px 0px 0px var(--purple);
  width: 55vw;
  height: auto;
  margin: auto;
  margin-bottom: 6.2rem;
  padding: 14px 28px 34px;
  border-radius: 7px;
}

@media screen and (max-width: 1000px) {
  .newCommentContainer {
    width: 70vw;
    padding: 10px 24px 24px;
  }
}
