.newCommentContainer {
  background-color: rgb(235, 230, 247);
  box-shadow: -5px 5px 0px 0px var(--purple);
  width: 55vw;
  height: auto;
  /* width: fit-content; */
  margin: auto;
  margin-bottom: 6.2rem;
  padding: 14px 28px 34px;
  border-radius: 7px;
}
