.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("../../images/19366298_10155263329136070_3045937438815596369_n.jpg");

  height: 75vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

/* Place text in the middle of the image */
.heroText {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 2px 3px 0px var(--purple);
  width: 36vw;
}

.heroButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: whitesmoke;
}

.heroButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

.heroButton:active {
  box-shadow: 0px 0px 1px 1px whitesmoke;
  transition: 0s;
}

button {
  border-radius: 2px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.socialMediaBox {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border: 2px solid lime;
  max-width: 100vw;
}
.socialMediaItem {
  height: 20vh;
  width: 35vw;
  margin-left: 2rem;
  margin-right: 2rem;
  border: 4px solid blue;
}

#itemOne {
  background-image: url("../../images/DSC_0008.JPG");

  border: 2px solid red;
}
#itemTwo {
  background-image: url("../../images/book5.png");
  border: 2px solid red;
}

#itemThree {
  background-image: url("../../images/book5.png");
}

#itemFour {
  background-image: url("../../images/book5.png");
}

.explainSection {
  margin-bottom: 4rem;
}
.explainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.explainImage {
  margin: 1rem;
  max-height: 24vh;
  max-width: 24vw;
  padding: 0px 10px;
  display: inline;
}

.explainTitle {
  text-align: left;
  margin-left: 8%;
  margin-top: 6rem;
}
.sliderImage {
  height: 34vh;
  width: 36vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
  margin-right: 2rem;
  transition: 0.65s ease-in-out;
  border-radius: 3px;
}

#explainImageOne {
  background-image: url("../../images/DSC_0896.JPG");
  box-shadow: -4px 4px 0px 0px var(--purple);
  background-position: 80%;
}
#explainImageTwo {
  background-image: url("../../images/youtube4.jpg");
  background-position: 38%;
  box-shadow: -4px 4px 0px 0px var(--purple);
}
#explainImageThree {
  background-image: url("../../images/DSC_0817\ 4.jpg");
  box-shadow: -4px 4px 0px 0px var(--purple);
  background-position: right;
}
#explainImageFour {
  background-image: url("../../images/hazie\ r2.png");
  box-shadow: -4px 4px 0px 0px var(--purple);
  background-position: right;
}

#explainImageOne:hover {
  background-image: url("../../images/DSC_0654.JPG");
  background-position: 60%;
  transform: scale(110%);
}

#explainImageTwo:hover {
  background-image: url("../../images/youtube5.jpg");
  background-position: 56%;
  transform: scale(110%);
}

#explainImageThree:hover {
  transform: scale(110%);
}
#explainImageFour:hover {
  transform: scale(110%);
}

@media screen and (max-width: 1120px) {
  .explainBox {
    flex-direction: column;
    margin: auto;
    margin-left: 2rem;
  }
}
