.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("https://i.ibb.co/q5sQc5X/DSC-1123.jpg");

  height: 75vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

/* Place text in the middle of the image */
.heroText {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 2px 3px 0px var(--purple);
  width: 36vw;
}

.heroButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: var(--white);
}

.heroButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

.heroButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

button {
  border-radius: 2px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.explainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.explainImage {
  margin: 1rem;
  max-height: 30vh;
  max-width: 25vw;
  padding: 0px 10px;
  display: inline;
}

.explainTitle {
  text-align: left;
  margin-left: 8%;
  margin-top: 6rem;
}

.sliderImage {
  height: 35vh;
  width: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
  margin-right: 2rem;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.explainSection {
  margin-bottom: 4rem;
}

#explainImageOne {
  background-image: url("https://i.ibb.co/vhqx7nd/boseong.jpg");
  box-shadow: -4px 4px 0px 0px var(--purple);
}
#explainImageTwo {
  background-image: url("https://i.ibb.co/KVBY0nB/moongirl.jpg");
  box-shadow: -4px 4px 0px 0px var(--purple);
}
#explainImageThree {
  background-image: url("https://i.ibb.co/DQrcZxD/received-2396607630564628.jpg");
  box-shadow: -4px 4px 0px 0px var(--purple);
}

#explainImageOne:hover {
  background-image: url("https://i.ibb.co/M7LPcCr/DSC-0007.jpg");
  transform: scale(110%);
}

#explainImageTwo:hover {
  background-image: url("https://i.ibb.co/KNJ5pv8/taekwondo2.jpg");
  transform: scale(110%);
}

#explainImageThree:hover {
  background-image: url("https://i.ibb.co/25VPrTV/DSC-0666-2.jpg");
  transform: scale(110%);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1120px) {
  .explainBox {
    flex-direction: column;
    margin: auto;
    margin-left: 2rem;
  }
}
