.TypistBox {
  display: block;
  height: 10vh;
}

/* .TypistTitle {
  font-size: 2.8em;
  text-shadow: 7px 7px var(--light-shade);
} */

.TypistText {
  font-weight: bold;
  font-size: 2.6em;

  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.521) 0px 3px 3px;
}

/* .TypistText {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 8px 8px #c3aafd9f;
} */
