:root {
  --background-shade: #bca0ff;
  --secondary-shade: rgba(233, 214, 255, 0.972);
  --panel-shade: #d0c3ff;
  --panel-mid-shade: #d8cefc;
  --deep-shade: #18612b;
  --mid-shade: #4aac64;

  --white: snow;
  --light-shade: #bca0ff;
  --deep-purple: #3c10b6;
  --purple: #3c10b6;
  --red: #b92a3d;
  --blue: #29c7d6;
  --green: #95d32c;
  --light-green: #93ea15;
}
/*#4808f7*/
/* #d32c42 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
