.sliderImage {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

#firstImage {
  background-position: center;
  background-image: url("https://i.ibb.co/4gKd4Z4/DSC-0804-5.png");
}

#secondImage {
  background-position: bottom;
  background-image: url("https://i.ibb.co/nPwJzSk/DSC-0302-2.jpg");
}

#thirdImage {
  background-position: center;
  background-image: url("https://i.ibb.co/R0pg3SQ/DSC-0815-2.jpg");
}

#fourthImage {
  background-position: center;
  background-image: url("https://i.ibb.co/mzjHjN7/DSC-0971.jpg");
}
#fifthImage {
  background-position: center;
  background-image: url("https://i.ibb.co/xFVx9Gw/DSC-1006.jpg");
}
#sixthImage {
  background-position: top;
  background-image: url("https://i.ibb.co/HnyVh1x/DSC-0635-24553-2.jpg");
}
#seventhImage {
  background-position: center;
  background-image: url("https://i.ibb.co/0GntCMQ/IMGP7245.jpg");
}
#eigthImage {
  background-position: center;
  background-image: url("https://i.ibb.co/JyZD1KC/CSC-0070.jpg");
}
#ninethImage {
  background-position: top;
  background-image: url("https://i.ibb.co/Y0t2jYv/DSC-0110.jpg");
}
#tenthImage {
  background-position: center;
  background-image: url("https://i.ibb.co/c6k5Gg8/DSC-0229.jpg");
}

.sliderTitle {
  text-align: left;
  margin-left: 8%;
  margin-top: 6rem;
}

@media screen and (max-width: 800px) {
  .sliderImage {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
