.heroImage {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("../../images/ebook\ cover\ image.png");

  height: 90vh;

  /* Position and center the image to scale nicely on all screens */
  background-position-y: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

/* Place text in the middle of the image */
.heroText {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 2px 3px 0px var(--purple);
  width: 36vw;
}

.heroButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: var(--white);
}

.heroButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

.heroButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

button {
  border-radius: 2px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.redirectButtonBox {
  position: relative;
}
.redirectButton {
  position: absolute;
  left: 10%;
  top: 101%;
  min-width: max-content;
  padding: 7px 13px 9px;
}

#pageButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 8px 15px 10px;
  background-color: rgb(235, 230, 247);
}

#pageButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: white;
}

#pageButton:active {
  box-shadow: 0px 0px 1px 1px var(--white);
  transition: 0s;
}

.TypistBox {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  /* height: 45vh; */
  max-width: 80vw;
  word-break: keep-all;
}

/* .TypistTitle {
    font-size: 2.8em;
    text-shadow: 7px 7px var(--light-shade);
  } */

.TypistText {
  font-weight: bold;
  font-size: 2.5em;
  background-color: var(--purple);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.521) 0px 3px 3px;
  user-select: none;
  outline: none;
  line-height: 2em;
}

.memoryImageBox {
  height: max-content;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  /* width: 80vw; */
}

.memoryImage {
  max-height: 80vh;
  max-width: 85vw;
  box-shadow: -4px 4px 0px 0px var(--purple);
  border-radius: 5px;
}

.textBox {
  margin: auto;
  max-width: 70vw;
  text-align: left;
  line-height: 1.5em;
  user-select: none;
  border: 1px solid slateblue;
  padding: 15px 15px 15px;
  border-radius: 13px;
  margin-bottom: 3rem;
}

/* 
.textBox p:hover {
  transform: scale(1);
  transition: 0.4s ease-in-out;
} */

.projectBoxButton {
  box-shadow: -5px 5px 0px 0px var(--purple);
  transition: 0.2s ease-in;
  touch-action: manipulation;
  padding: 14px 20px 13px;
  background-color: rgb(235, 230, 247);
  margin: auto;
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projectBoxButton:hover {
  box-shadow: 0px 3px 1px 1px var(--purple);
  background-color: var(--white);
}

.projectBoxButtonContainer {
  display: flex;
  justify-content: center;
}

.subheading {
  text-align: left;
  margin-left: 8%;
}

.projectBoxButton:active {
  box-shadow: 0px 0px 1px 1px white;
  transition: 0s;
}

.projectBoxLogo {
  width: 7vw;
  margin-left: 0.3rem;
}

@media screen and (max-width: 780px) {
  .TypistText {
    font-size: 1.2em;
  }
  .TypistBox {
    max-width: 86vw;
    word-break: keep-all;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 781px) {
  .TypistText {
    font-size: 1.5em;
  }
  .TypistBox {
    max-width: 86vw;
    word-break: keep-all;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1600px) {
  .TypistText {
    font-size: 2.8em;
  }
  .TypistBox {
    max-width: 120vw;
    word-break: keep-all;
    margin-bottom: 6rem;
  }
}
